
.pagination {
	padding: 3px;
	margin: 3px;
	text-align:center;
	border:none;
	font-size:120%;
}

.pagination a {
	padding: 2px 5px 2px 5px;
	margin: 2px;
	#border: 1px solid #EEE;
	text-decoration: none; /* no underline */
	#color: #036CB4;
	color:#fff;
	
}

.pagination a:hover,
.pagination a:active {
	#border: 1px solid #999;
	color: #fff;
	background:gray;
	#border:1px solid gray;
}
.pagination .current {
	padding: 2px 5px 2px 5px;
	margin: 2px;
	border: 1px solid #036CB4;
	font-weight: bold;
	background-color: #036CB4;
	color: #FFF;
}
.pagination .disabled {
	padding: 2px 5px 2px 5px;
	margin: 2px;
	#border: 1px solid #EEE;
	color: #555;
}
